@import "bootstrap-less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 10px;
}

footer {
	margin: 12px auto 0px;
}

/* OpenLayers/OSM attribution styling */
div.olControlAttribution, div.olControlScaleLine {
	bottom: 1px;
}

@import "bootstrap-less/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Otto Kekäläinen (Seravo Oy)
   ========================================================================== */











