@import "../js/libs/bootstrap-less/less/bootstrap.less";

body {
  padding-bottom: 10px;
}

footer {
	margin: 12px auto 0px;
}


td.personnel-spacer {
	padding-top: .5em;
}

// hide hero-unit and filters for really small screens
@media (max-width: 480px) {

    #introtext, #filter-by, #facetview_filterbuttons {
        visibility: hidden;
        position: absolute;
        top: -999px;
    }

    #facetview_filter_helptext {
        display: none;
    }

}

// hide captcha
input.validation { display: none; visibility: hidden; }

textarea.widget { width: 500px; height: 100px; }

/* OpenLayers layer selector styling */
#layerswitcher.olControlLayerSwitcher {
	background-color: black !important;
}

.olControlLayerSwitcher > div > span {
	background-color: black !important;
}

.olControlLayerSwitcher .layersDiv {
	background-color: black !important;
}

/* OpenLayers/OSM attribution styling */
div.olControlAttribution, div.olControlScaleLine {
	bottom: 1px;
}

/* OpenLayers Google maps styling */
.olLayerGoogleCopyright
{
	right:3px;
	bottom:2px;
	left:auto;
}

.olLayerGoogleV3.olLayerGoogleCopyright
{
	bottom:0;
	right:0!important;
}

.olLayerGoogleV3.olLayerGooglePoweredBy
{
	bottom:0!important;
}

div.olLayerGoogleCopyright, div.olLayerGooglePoweredBy
{
	  display: none !important;
}

.betalabel {
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("/img/beta-fi.png") no-repeat;
    z-index: 1000;
}

.betalabel.fi {
    background: url("/img/beta-fi.png") no-repeat;
}
.betalabel.en {
    background: url("/img/beta-en.png") no-repeat;
}
.betalabel.sv {
    background: url("/img/beta-sv.png") no-repeat;
}

.betalabel a {
    display: block;
    width: 168px;
    height: 168px;
}

.betalabel strong, .betalabel span {
    display: none;
}

.libdescription {
    margin-left: 40px;
    font-size: 16px;
}

.libdescription:before {
    content: "”";
    font-size: 48pt;
    margin-left: -40px;
    padding-right: 10px;
    position: relative;
    top: 30px;
}

h1.lib_details_name {
    padding-bottom: 0.4em;
}

tr.opentimes_strong {
  font-weight: bold;
}

div.opentimes {
    /* border: 5px solid #ccc;
    margin: 10px 0 12px; */
    padding-left: 24px;
    /* max-width: 300px; */
    position: relative;
}

.opentimes .icon-time {
    position: absolute;
    top: 2px;
    left: 2px;
}
.opentimes strong {
    font-size: 32pt;
    display: block;
    line-height: 40px;
    font-weight: bold;
}

.opentimes strong.open {
    color: green;
}
.opentimes strong.closed {
    color: red;
}

div.contactdetails {
    padding-left: 24px;
}

div.contactdetails a.iconless-link {
    margin-left: 18px;
}

table th {
    text-align: left;
}
dd {
  margin-bottom: 6px;
}
@import "../js/libs/bootstrap-less/less/responsive.less";


@media print {
  body {font: fit-to-print}
  div.header-banner-row, div.navbar, div.betalabel, body > iframe, footer {display: none}
}

@media (max-width: 640px) {
  div#opentimes_large {
    display: none;
  }
}

@media (min-width: 640px) {
  div#opentimes_small {
    display: none;
  }
}

/* style modifications due to new bootstrap et al */

body {
  font-size: 13px;
  line-height: 18px;
}

.navbar-inverse .brand {
  float: left;
  padding: 8px 20px 12px;
  line-height: 1;
  color: #ffffff;
}

.navbar-inverse .navbar-inner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-image: linear-gradient(to bottom, #333333, #222222);
  padding-left: 20px;
  border: 0px;
}

.navbar .nav > li > a {
float: none;
padding: 10px 10px 10px 10px;
}

.navbar .container {
  margin-left: 20px;
}

.result-data h3 {
  line-height: 27px;
  font-size: 18px;
}

.table th, .table td {
  line-height: 18px;
}

.navbar-inner {
  padding-left: 20px;
  min-height: 40px;
}

#facetview_filters h3{
  line-height: 27px;
  font-size: 18px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .container {
    padding: 10px;
  }
}

