@import "bootstrap-less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 10px;
}

footer {
	margin: 12px auto 0px;
}

/* OpenLayers/OSM attribution styling */
div.olControlAttribution, div.olControlScaleLine {
	bottom: 1px;
}

.betalabel {
    position: absolute;
    top: 100px;
    right: -150px;
    padding: 6px 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background-color: #f00;
    color: #fff; 
    text-transform: uppercase;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}

.betalabel {
    position: absolute;
    top: 80px;
    right: -185px;
    padding: 12px 200px 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background-color: #d00;
    color: #fff; 
    text-transform: uppercase;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.betalabel:hover {
    top: 100px;
    right: -150px;
    background-color: #f00;
}

.betalabel strong {
    font-size: 24pt;
}

.betalabel a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
}

.quotesign {
    font-size: 48pt;
    position: relative;
    top: 20px;
}

div.opentimes {
    border: 5px solid #ccc;
    padding: 24px;
    max-width: 300px;
    margin-bottom: 12px;
    position: relative;
}

.opentimes .icon-time {
    position: absolute;
    top: 2px;
    left: 2px;
}
.opentimes strong {
    font-size: 32pt;
    display: block;
    line-height: 40px;
    font-weight: bold;
}

.opentimes strong.open {
    color: green;
}
.opentimes strong.closed {
    color: red;
}

table th {
    text-align: left;
}
dd {
  margin-bottom: 6px;  
}
@import "bootstrap-less/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Otto Kekäläinen (Seravo Oy)
   ========================================================================== */












