_("locale")
_("Search")
_("Widgets")
_("institution_library")
_("regional")
_("childrens_library")
_("university_library")
_("music_library")
_("mobile")
_("home_service")
_("yes")
_("The Finnish Library Directory")
_("My Location")
_("routefinder locale")
_("Name, email, title, qualities ...")
_("Opening hours")
_("av_production")
_("e_publifications")
_("seeking_library_work")
_("human_resources")
_("international_cooperation")
_("remote_services")
_("literature")
_("mobile_libraries")
_("library_systems")
_("book_tips")
_("education")
_("education_planning")
_("library_facility_work")
_("children_library")
_("indexing")
_("immigrant_library_work")
_("media_education")
_("music_library_work")
_("youth_library_work")
_("pedagogy")
_("games")
_("finances")
_("information_retrieval")
_("information_technology")
_("statistics")
_("web_services")
_("communications")
