_("locale")
_("Search")
_("Widgets")
_("institution_library")
_("regional")
_("childrens_library")
_("university_library")
_("music_library")
_("mobile")
_("home_service")
_("yes")
_("The Finnish Library Directory")
_("My Location")
_("routefinder locale")
