#css/style.css #cannot ignore this since then the grunt.js build would ignore it too
staging/
output/
elasticsearch-0.18.7/
elasticsearch
config.json
locale/**/*.mo
node_modules
*/*-banner.*
.DS_Store
bower_components
