{{{header}}}

<div class="container">
    <h1>_("Not found") <span>:(</span></h1>
	<div>
		<p>_("Sorry, but the page you were trying to view does not exist.")</p>
		<p>_("It looks like this was the result of either:")</p>
		<ul>
			<li>_("a mistyped address")</li>
			<li>_("an out-of-date link")</li>
		</ul>
	</div>
</div>

{{{footer}}}
