{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>_("About")</h1>
	  <h2>_("Find your library!")</h2>
	  <p>_("Enter the name of the library or the service you need. Enter city name or zip-code to find the closest libraries.")</p>
	  <p style="font-size: small;">_("The library directory is part of <a href='//www.libraries.fi/libraries'>www.libraries.fi/libraries</a> -services")</p>
	  </div>
  </div>
</div>

{{{footer}}}
