{{{header}}}

<div class="row-fluid" id="introtext">
  <div class="span12">
      <h1>Browse all libraries</h1>
      <ul>
      {{#libraries}}
        <li><a href="/{{url}}">{{libname}}</a></li>
      {{/libraries}}
      </ul>
  </div>
</div>

{{{footer}}}
