{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>Browse all libraries</h1>
      <p>Listing totally {{count}} libraries.</p>
      <ul>
      {{#libraries}}
        <li><a href="/id/{{id}}" id="{{id}}">{{name_fi}}</a> ({{organisation_type}})</li>
      {{/libraries}}
      </ul>
  </div>
</div>

{{{footer}}}
