{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>Browse all libraries</h1>
      <p>Listing totally {{count}} libraries.</p>
      <ul  class="nav nav-pills nav-stacked">
      {{#libraries}}
        <li><a href="/id/{{id}}" id="{{id}}">{{name_fi}} ({{organisation_type}})</a></li>
      {{/libraries}}
      </ul>
  </div>
</div>

{{{footer}}}
