{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>_("Contact")</h1>
      <p>_("This site is the product of <a href='http://kirjastot.fi/'>Kirjastot.fi</a>.")</p>
      <h2>_("Send us feedback!")</h2>
      <form method="post" action="/contact">
          <label>_("Name"): </label>
          <input type="text" name="fname" value="{{fname}}"></input>

          {{#errors.fname}}
                <div id="errormsg" class="alert alert-error"><i class="icon-warning-sign"></i> <strong>_("Error"):</strong> {{.}}</div>
            {{/errors.fname}}

          <label>_("E-mail"): </label>
          <input type="text" name="femail" value="{{femail}}"></input>
            {{#errors.femail}}
                <div id="errormsg" class="alert alert-error"><i class="icon-warning-sign"></i> <strong>_("Error"):</strong> {{.}}</div>
            {{/errors.femail}}

          <input class="validation" type="text" name="femail_confirm" value="{{femail_confirm}}"></input>

          <label>_("Message"): </label>
          <textarea name="fmessage">{{fmessage}}</textarea>
            {{#errors.fmessage}}
                <div id="errormsg" class="alert alert-error"><i class="icon-warning-sign"></i> <strong>_("Error"):</strong> {{.}}</div>
            {{/errors.fmessage}}

          <!-- for gettext reasons quotation must be inside translation string -->
          <br />
          <input type="submit" value=_("'Submit'") class="btn btn-primary"></input>
      </form>
  </div>
</div>

{{{footer}}}


