{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>Contact</h1>
      <p>This site is the product of <a href="http://kirjastot.fi/">Kirjastot.fi</a>.</p>
      <h2>Send us feedback!</h2>
      <form method="post" action="/contact">
          <label>Name: <input type="text" name="fname" value="{{fname}}"></label>
            {{#errors.fname}}
            Error: {{.}}<br>
            {{/errors.fname}}

          <label>E-mail: <input type="text" name="femail" value="{{femail}}"></label>
            {{#errors.femail}}
            Error: {{.}}<br>
            {{/errors.femail}}

          <label>Message: <textarea name="fmessage">{{fmessage}}</textarea></label>
            {{#errors.fmessage}}
            Error: {{.}}<br>
            {{/errors.fmessage}}

          <input type="submit" value="Submit">    
      </form>
  </div>
</div>

{{{footer}}}
