{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>Feedback sent</h1>
        <div id="errormsg" class="alert alert-success"><i class="icon-envelope"></i> 
            <strong>Feedback sent.</strong> Thank you!
        </div>
  </div>
</div>

{{{footer}}}
