{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>_("Feedback sent")</h1>
        <div id="errormsg" class="alert alert-success"><i class="icon-envelope"></i> 
            _("<strong>Feedback sent.</strong> Thank you!")
        </div>
  </div>
</div>

{{{footer}}}
