{{^nobanners}}
		<footer>
		<hr>
		<p>&copy; Seravo Oy 2012. <a href="http://opendefinition.org/">Openly Licensed</a> with <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License</a>. Get the <a href="https://github.com/Seravo/Library-Directory">source</a>.</p>
		</footer>
{{/nobanners}}
    </div> <!-- /container -->
    
<script src="{{proto}}://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{proto}}://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap/transition.js"></script>
<script src="/js/libs/bootstrap/collapse.js"></script>
<script src="/js/libs/bootstrap/button.js"></script>
<script src="/js/libs/mustache/mustache.js"></script>
<script src="/js/libs/json2.js"></script>
<script src="/js/libs/jquery.facetview.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/libs/gettext.js"></script>
<script src="/js/script.js"></script>

{{#js_files}}
<script src="/{{{src}}}"></script>
{{/js_files}}

{{#js_code}}
<script type="text/javascript">
	{{{consortiums}}}
	{{{regions}}}
	{{{js_code}}}
</script>
{{/js_code}}

{{^nobanners}}
{{{footer_banner}}}
{{/nobanners}}

</body>
</html>
