		<hr>
		<footer>
		<p>&copy; Seravo Oy 2012. <a href="http://opendefinition.org/">Openly Licensed</a> with <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero General Public License</a>. Get the <a href="https://github.com/Seravo/Library-Directory">source</a>.</p>
		</footer>

    </div> <!-- /container -->
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="/js/compressed.js"></script>
{{#js_files}}
<script src="/{{{src}}}"></script>
{{/js_files}}

{{#js_code}}
<script type="text/javascript">
	{{{js_code}}}
</script>
{{/js_code}}

<!-- not in use yet -->
<!-- script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script -->

</body>
</html>
