<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{lang}}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{#title}}{{title}} - {{/title}}_("The Finnish Library Directory")</title>
	<meta name="description" content='_("The Finnish Library Directory"){{#title}} - {{title}}{{/title}}'>
	<meta name="author" content="Seravo Oy">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/compressed.css">
	{{^nobanners}}
	<style type="text/css" media="all">{{{header_banner_css}}}</style>
	{{/nobanners}}
	<link rel="gettext" type="application/x-po" href="/locale/{{lang}}/messages.po" />
	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>

{{^nobanners}}
{{{header_banner}}}

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href='/{{^fi_active}}_("locale")/{{/fi_active}}'>
           _("Library Directory")</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li {{#search_active}}class="active"{{/search_active}}><a href="search">_("Search")</a></li>
              <li {{#browse_active}}class="active"{{/browse_active}}><a href="browse">_("Browse all")</a></li>
              <li {{#widget_active}}class="active"{{/widget_active}}><a href="widget">_("Widgets")</a></li>
              <!-- li {{#about_active}}class="active"{{/about_active}}><a href="about">_("About")</a></li -->
              <li {{#contact_active}}class="active"{{/contact_active}}><a href="contact">_("Contact")</a></li>
            </ul>
          </div><!--/.nav-collapse -->
		  <div class="pull-right" style="margin-right: 15em;">
			<ul class="nav">
				{{^en_active}}
					<li><a href="/en/{{resource}}">English</a></li>
				{{/en_active}}
				{{^fi_active}}
					<li><a href="/{{resource}}">Suomi</a></li>
				{{/fi_active}}
				{{^sv_active}}
					<li><a href="/sv/{{resource}}">Svenska</a></li>
				{{/sv_active}}
			</ul>
		  </div>
        </div>
      </div>
    </div>

    <div class='betalabel _("locale")'>
    <a href="contact"><strong>BETA</strong><br><span>_("Send us feedback!")</span></a>
    </div>
{{/nobanners}}

    <div class="container">
      <!--[if lt IE 8]>
        <div class="alert alert-error alert-block">
          <h4 class="alert-heading">_("Warning")!</h4>
            _("Your browser version is too old"),
			<a href="http://browsehappy.com/">_("please upgrade")</a>
			_("for best experience").
        </div>
      <![endif]-->

