{{{header}}}

		<div class="facet-view-simple">
		    <div class="row-fluid" id="introtext">
		      <div class="span12">
		        <div class="hero-unit">
                  <h1>Find your library!</h1>
			      <p>Enter the name of the library or the service you need. Enter city name or zip-code to find the closest libraries.</p>
			    </div>
		      </div>
		    </div>
		</div>

{{{footer}}}
