{{#data}}

    <div class="opentimes">
        {{#neveropen}}
        {{/neveropen}}

        {{^neveropen}}
			{{#opening_hours.has_opening_hours}}
            <h3>{{name__("locale")}}
              _(" is now")
		    {{#opening_hours.open_now}}
	            <strong class="open">_("Open")</strong>
		    {{/opening_hours.open_now}}

		    {{^opening_hours.open_now}}
	            <strong class="closed">_("Closed")</strong>
	        {{/opening_hours.open_now}}
		    </h3>
		    <br>
	        <h3>_("Opening hours this week")</h3>
	        <time itemprop="openingHours">
	        <table>
			    {{#opening_hours.open_hours_week}}
					{{#today}}
						<tr class="opentimes_strong"><td>{{day}}<td>&nbsp;<td>{{time}}</tr>
					{{/today}}
					{{^today}}
					    <tr><td>{{day}}<td>&nbsp;<td>{{time}}</tr>
					{{/today}}
			    {{/opening_hours.open_hours_week}}
	        </table>
	        </time>
            <br>
			<p>{{opening_hours.period_description}}
			{{#consortium}}
            <!--<p>_("To borrow from this library you need a <a href='{{parent_organisation}}' itemprop='branchOf'>{{consortium}}</a> card.")</p>-->
			{{/consortium}}
			{{/opening_hours.has_opening_hours}}
			{{^opening_hours.has_opening_hours}}
			{{/opening_hours.has_opening_hours}}
        {{/neveropen}}
    </div>

{{/data}}

