{{#data}}

    <div class="opentimes">
        {{#neveropen}}
            _("No open times, since this is a {{organisation_type}}.")
        {{/neveropen}}

        {{^neveropen}}
            <h3>_("The library is now")
		    {{#opening_hours.open_now}}
	            <strong class="open">_("Open")</strong>
			    _("Opening hours today") {{opening_hours.open_hours_today}}
		    {{/opening_hours.open_now}}

		    {{^opening_hours.open_now}}
	            <strong class="closed">_("Closed")</strong>
				{{#opening_hours.open_hours_today}}
					_("Opening hours today") {{opening_hours.open_hours_today}}
				{{/opening_hours.open_hours_today}}
	        {{/opening_hours.open_now}}
		    </h3>
		    <br>
	        <h3>_("Opening hours this week")</h3>
	        <table>
			    {{#opening_hours.open_hours_week}}
				    <tr><td>{{day}}<td>&nbsp;<td>{{time}}</tr>
			    {{/opening_hours.open_hours_week}}
	        </table>
        {{/neveropen}}
    </div>

{{/data}}

