{{{header}}}

{{#data}}
<div class="row-fluid">
  <div class="span6">
		<h1>{{name_fi}}</h1>
		<p><a href="/id/{{id}}">Library id: {{id}}</a> Short name: {{name_short_fi}}</p>
		<p>
		  <img src="{{image_url}}">
		  <br>{{description_fi}}
		</p>
		<p>{{contact}}</p>
  </div>

  <div class="span6">
  Palvelut:
   <ul>
     {{#services}}
	   <li>{{name_fi}}</li>
     {{/services}}
   </ul>

  </div>

</div>
{{/data}}

{{{footer}}}
