{{{header}}}

{{#data}}
<div class="row-fluid">
  <div class="span6">
	{{#additional_info.slug}}
	<p><a href="/{{additional_info.slug}}" title="ID: {{id}}">hakemisto.kirjastot.fi/{{additional_info.slug}}</a></p>
	{{/additional_info.slug}}
	{{^additional_info.slug}}
    <div id="errormsg" class="alert alert-error"><i class="icon-warning-sign"></i> 
        <strong>Virhe:</strong> Tietueen slug-kenttä on tyhjä, kaunista URL:ia ei voida muodostaa.
    </div>
	{{/additional_info.slug}}
	
	
	<h1>{{name_fi}}</h1>
    <p><strong class="address"><i class="icon-map-marker"></i> <a href="http://www.openstreetmap.org/?lat={{contact.coordinnates_lat}}&lon={{contact.coordinnates_lon}}&zoom=15&layers=Q">{{contact.street_address.street_fi}}, {{contact.street_address.area_fi}} {{contact.street_address.post_code}} {{contact.street_address.municipality_fi}}</a></strong></p>

    {{#contact.directions_fi}}
        <p>_("Directions"): {{contact.directions_fi}}</p>
    {{/contact.directions_fi}}
    
	{{#contact.coordinates}}
		<p>
			<div id="mapcontainer" class="openlayers-map"><div id="basicmap"></div></div>
			<script type="text/javascript">
			<!--
			function library_details_map() { ld_mapcontrol_init("{{contact.coordinates}}","",""); }
			-->
			</script>
			<!-- {{contact.coordinates}} {{contact.map_url_fi}} -->
		</p>
	{{/contact.coordinates}}

    <p><strong class="quotesign">”</strong>{{description_fi}}</p>        
        		
	<dl>
		{{#services.0.name_fi}}
	    <dt>_("Services")</dt>
	    <dd>
	         {{#services}}
                <span title="Model: {{model}}">{{name_fi}}</span>
                    <span class="label {{label}}" title="Priority: {{service_priority}} / Type:{{servicetype_priority}}">{{type}}</span> 
                    <ul>
                    {{#description_short_fi}}
                    <li>{{description_short_fi}}
                        {{#description_long_fi}}<br><cite>{{description_long_fi}}</cite>{{/description_long_fi}}
                    </li>
                    {{/description_short_fi}}
                    {{#price}}
                    <li>{{price}}</li>
                    {{/price}}
                    {{#for_loan}}
                    <li>_("For loan")</li>
                    {{/for_loan}}
                    {{#instance_name_fi}}
                    <li>{{instance_name_fi}}<br><cite>{{instance_description_fi}}</cite></li>
                    {{/instance_name_fi}}
                    {{#tag.0}}
                    <li><ul>{{#tag}}<li>{{.}}</li>{{/tag}}</ul></li>
                    {{/tag.0}}
                    {{#contact.0}}
                    <li>_("Contact"):
                        <ul>
                        {{#contact}}
                            <li>{{telephone}} / {{email}} / <a href="">{{url_fi}}</a></li>
                        {{/contact}}
                        </ul>
                    {{/contact.0}}
                    </ul>
             {{/services}}
	    </dd>
	    {{/services.0.name_fi}}
	    
		{{#contact.telephones.0.telephone_number}}
	    <dt>_("Telephone numbers")</dt>
	    <dd>
	        {{#contact.telephones}}
                <img src="/img/glyphicons_139_phone.png" alt="_("Phone icon")"> <a href="tel:{{telephone_number}}">{{telephone_number}}</a> / {{telephone_name_fi}}<br>
            {{/contact.telephones}}
	    </dd>
	    {{/contact.telephones.0.telephone_number}}
	    
		{{#contact.mail_address.post_box}}
	    <dt>_("Mail address")</dt>
	    <dd>
	        _("PB") {{contact.mail_address.post_box}}<br>
	        {{contact.mail_address.post_code}} {{contact.mail_address.post_office_fi}}
	    </dd>
	    {{/contact.mail_address.post_box}}

		{{#contact.email}}
	    <dt>_("E-mail")</dt>
	    <dd><i class="icon-envelope"></i> <a href="mailto:{{contact.email}}">{{contact.email}}</a></dd>
	    {{/contact.email}}
	    	    
		{{#contact.homepage_fi}}
        <dt>_("Homepage")</dt>
        <dd>
            <i class="icon-home"></i> <a href="{{contact.homepage_fi}}">{{contact.homepage_fi}}</a>
            {{#contact.internet}}
                <br><a href="{{url_fi}}">{{name_fi}}</a> ({{url_description_fi}})
            {{/contact.internet}}
        </dd>
	    {{/contact.homepage_fi}}

		{{#additional_info}}
        <dt>_("Additional info")</dt>
        <dd>
            {{#extrainfo}}
                {{property_label_fi}}: {{property_value_fi}}<br>
            {{/extrainfo}}
        </dd>
	    {{/additional_info}}


	    <dt>_("Library identificator and type")</dt>
	    <dd>
	        ISIL: {{isil}}<br>
	        _("ID"): {{identificator}}<br>
	        _("Branch"): {{branch_type}}<br>
	        _("Organisation"): {{organisation_type}}
	    </dd>

		{{#established_year}}
	    <dt>_("Established year")</dt>
	    <dd>{{established_year}}</dd>
	    {{/established_year}}

	    <dt>_("Library consortium")</dt>
	    <dd><a href="/id/{{parent_organisation}}">{{consortium}}</a></dd>	    
    </dl>

    <p><small>_("Last modified"): {{meta.modified}}</small></p>
  </div>

  <div class="span6">
    <div class="opentimes">
        <i class="icon-time"></i>
        {{#neveropen}}
            _("No open times, since this is a {{organisation_type}}.")
        {{/neveropen}}

        {{^neveropen}}
            <h3>_("The library is now")
		    {{#opening_hours.open_now}}
	            <strong class="open">_("Open")</strong>
			    Opening hours today {{opening_hours.open_hours_today}}
		    {{/opening_hours.open_now}}

		    {{^opening_hours.open_now}}
	            <strong class="closed">_("Closed")</strong>
	        {{/opening_hours.open_now}}
		    </h3>
		    <br>
	        <h3>_("Opening hours this week")</h3>
	        <table>
			    {{#opening_hours.open_hours_week}}
				    <tr><td>{{day}}<td>&nbsp;<td>{{time}}</tr>
			    {{/opening_hours.open_hours_week}}
	        </table>
        {{/neveropen}}

    </div>
        
    <div class="buildinginfo">
        {{#image_url}}
        <img src="{{image_url}}" alt="{{name_fi}}">
        {{/image_url}}
        <table>
        {{#contact.building_fi}}
            <tr><th>_("Building"):</th><td>{{contact.building_fi}}</td></tr>
        {{/contact.building_fi}}
        {{#contact.building_year}}
            <tr><th>_("Built"):</th><td>{{contact.building_year}}</td></tr>
        {{/contact.building_year}}
        {{#contact.building_architect}}
            <tr><th>_("Architect"):</th><td>{{contact.building_architect}}</td></tr>
        {{/contact.building_architect}} 
        <td><th colspan="2">&nbsp;</td></tr>
        {{#accessibility.accessible_entry}}
            <tr><th>_("Accessible entry"):</th><td>_("yes")</td></tr>
        {{/accessibility.accessible_entry}}
        {{#accessibility.accessible_parking}}
            <tr><th>_("Accessible parking"):</th><td>_("yes")</td></tr>
        {{/accessibility.accessible_parking}}
        {{#accessibility.accessible_toilet}}
            <tr><th>_("Accessible toilet"):</th><td>_("yes")</td></tr>
        {{/accessibility.accessible_toilet}}
    	{{#extraaccessibilityinfo}}
            <tr><th>{{extra_accessibility_property_label_fi}}:</th><td>{{extra_accessibility_property_value_fi}}</td></tr>
        {{/extraaccessibilityinfo}}
        {{#accessibility.induction_loop}}
            <tr><th>_("Induction loop"):</th><td>_("yes")</td></tr>
        {{/accessibility.induction_loop}}
        {{#accessibility.large_typeface_collection}}
            <tr><th>_("Large typeface<br> collection"):</th><td>_("yes")</td></tr>
        {{/accessibility.large_typeface_collection}}
        {{#accessibility.lift}}
            <tr><th>_("Lift"):</th><td>_("yes")</td></tr>
        {{/accessibility.lift}}
        <td><th colspan="2">&nbsp;</td></tr>
        {{#contact.parking_fi}}
            <tr><th>_("Parking"):</th><td>{{contact.parking_fi}}</td></tr>
        {{/contact.parking_fi}}
        </table>
    </div>

  </div>

</div>
{{/data}}

{{{footer}}}
