{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>_("Search personnel")</h1>
	  <br>
	  <input id="personnel-sstr" class="span3" placeholder="Nimi, sähköposti, titteli, osaamisalue ..." autofocus><br>
	  <button id="personnel-search-go" type="button" class="btn btn-default">_("Search")</button>
  </div>
</div>

<div id="personnel-search-results">
</div>

{{{footer}}}
