{{{header}}}

<div class="row-fluid">
  <div class="span12">
      <h1>_("Search personnel")</h1>
	  <br>
    <div class="control-group searchForm">
  	  <input id="personnel-sstr" type="text" class="span3" placeholder='_("Name, email, title, qualities ...")' autofocus><br>
  	  <button id="personnel-search-go" type="button" class="btn btn-default">_("Search")</button>
    </div>
  </div>
</div>

<div id="personnel-search-results">
</div>

{{{footer}}}
