{{{header}}}
<style>
	<!--
	.selectable .ui-selecting { background: #FECA40; }
	.selectable .ui-selected { background: #F39814; color: white; }
	.selectable { list-style-type: none; margin: 0; padding: 0; }
	.selectable ul { width: 100%; }
	.selectable li { background: #e9e9ff; margin: 5px; padding: 0.4em; font-size: 1em; width: 25%; }
	.widget_type li { width: 10%; background: #f0e9e9; }
	-->
</style>

<div class="row-fluid" id="introtext">
	<div class="span6">
		<h1>_("Build a widget")</h1>
		    <p>_("This feature is intended for web developers who want to integrate the library search in their own website.")</p>
			<br>
			<h4>1. _("Search library by name or street address, select one result")</h4>
			<input id="search_txt" autofocus />

			<div id=hits></div>
			<br />
			<input type="hidden" id="widget_library">
			<input type="hidden" id="widget_consortium">
      <input type="hidden" id="widget_city" value="">
			<div id="libraries" class="search_results">
			</div>

			<h4>2. _("Select widget type")</h4>
			<input type="hidden" id="widget_type">
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn typeselector" value="4">_("Services")</button>
				<button class="btn typeselector" value="5">_("Opening times")</button>
				<button class="btn typeselector" value="1">_("Search")</button>
				<button class="btn typeselector" value="2">_("Small library details")</button>
				<button class="btn typeselector" value="3">_("Full library details")</button>
			</div>

			<span class=filter style="display: none;">
			<br>
			<h4>_("Filter search by consortium or city")</h4>
			<input type="hidden" id="widget_filter" value="">
			<div class="btn-group" data-toggle="buttons-checkbox">
				<button type="button" class="btn filterselector" value="area">_("Library consortium")</button>
				<button type="button" class="btn filterselector" value="city">_("City")</button>
			</div>



			</span>

			<span class=filter style="display: none;">
			<br>
			<h4>_("Adjust number of libriries on page")</h4>


			<label class="radio">
			  <input type="radio" name="radioAdjustNumberOfLibs" value="10"> 10
			</label>
			<label class="radio">
			  <input type="radio" name="radioAdjustNumberOfLibs" value="20"> 20
			</label>
			<label class="radio">
			  <input type="radio" name="radioAdjustNumberOfLibs" value="30"> 30
			</label>
			<label class="radio">
			  <input type="radio" name="radioAdjustNumberOfLibs" value="40"> 40
			</label>
			<label class="radio">
			  <input type="radio" name="radioAdjustNumberOfLibs" value="50" checked> 50
			</label>
			</span>

			<br>
			<h4>3. _("Select widget language")</h4>
			<input type="hidden" id="widget_lang" value="">
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn langselector" value="">_("Automatic")</button>
				<button class="btn langselector" value="fi">Suomi</button>
				<button class="btn langselector" value="sv">Svenska</button>
				<button class="btn langselector" value="en">English</button>
			</div>

			<br>
			<h4>4. _("Customize widget CSS-styling")</h4>
			<textarea class="widget" id="widget_style"></textarea>

			<br>
			<h4>5. _("Copy embed code")</h4>
			<textarea class="widget" id="widget_code"></textarea>
	</div>
	<div class="span6">
		<h4>_("Widget preview")</h4>
		<div id="widget_preview" style="width: 600px; height: 600px; overflow: auto; border: 1px solid black;">
		</div>
	</div>

</div>

{{{footer}}}
