{{{header}}}

{{#data}}

{{#preview_mode}}
    <style type="text/css">
        #preview-mode-warning {
            background-color: #FFE1D9;
            border: 1px solid red;
            padding: 5px;
            margin-bottom: 10px;
        }

        #preview-mode-warning h1 {
            color: red;
        }
    </style>
    <div id="preview-mode-warning">
        <h1>_("This is preview mode")</h1>
    </div>
{{/preview_mode}}

<div class="row-fluid" itemscope itemtype="http://schema.org/Library">
  <div class="span6">

	<h1 class="lib_details_name" itemprop="name" id="{{id}}">{{name__("locale")}}</h1>
	{{#contact.coordinates}}
        <p><strong class="address" itemprop="address"><i class="icon-map-marker"></i>
	    <a href="http://www.openstreetmap.org/?mlat={{contact.coordinnates_lat}}&mlon={{contact.coordinnates_lon}}&zoom=15&layers=Q" itemprop="map">
	    {{contact.street_address.street__("locale")}},
	    {{contact.street_address.area__("locale")}}
	    {{contact.street_address.post_code}}
	    {{contact.street_address.municipality__("locale")}}</a></strong>
		(_("View larger map"))</p>
	{{/contact.coordinates}}

	<p><strong><i class="icon-move"></i>
	<a target="_blank" href='http://www.matka.fi/_("routefinder locale")/?keya=&keyb=
	{{contact.street_address.street__("locale")}},
	{{contact.street_address.municipality__("locale")}}'>
	_("Directions")</a>
	</strong>(Matka.fi)</p>

    {{#contact.directions__("locale")}}
        <p>_("Directions"):
			{{contact.directions__("locale")}}</p>
    {{/contact.directions__("locale")}}

	{{#contact.coordinates}}
		<p itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{contact.coordinnates_lat}}">
            <meta itemprop="longitude" content="{{contact.coordinnates_lon}}">
			<div id="mapcontainer" class="openlayers-map"><div id="basicmap"></div></div>
			<script type="text/javascript">
			<!--
			function library_details_map() { ld_mapcontrol_init("{{contact.coordinates}}", ""); }
			-->
			</script>
			<!-- {{contact.coordinates}} {{contact.map_url__("locale")}} -->
		</p>
	{{/contact.coordinates}}

	{{#description__("locale")}}
		<p class="libdescription" itemprop="description">{{description__("locale")}}</p>
	{{/description__("locale")}}

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#lib_services" data-toggle="tab">_("Services")</a></li>

		{{#has_personnel}}
			<li><a data-toggle="tab" href="#lib_personnel">_("Personnel")</a></li>
		{{/has_personnel}}

		{{#has_children}}
			<li><a data-toggle="tab" href="#lib_departments">_("Departments")</a></li>
		{{/has_children}}

		{{#accessibility_available}}
			<li><a data-toggle="tab" href="#lib_accessibility">_("Accessibility")</a></li>
		{{/accessibility_available}}

		<li><a data-toggle="tab" href="#lib_extrainfo">_("Additional info")</a></li>
	</ul>

	<div class="tab-content">
		<!-- services tab -->
		<div class="tab-pane active" id="lib_services">
			<dl>
				{{#services.0.name__("locale")}}
				<dt>_("Services")</dt>
				<meta itemprop="currenciesAccepted" content="EUR">
				<dd>
					 {{#services}}
						<div itemscope itemtype="http://schema.org/Product">
							{{#contact.url__("locale")}}
							<a href='{{contact.url__("locale")}}'>
							<span title="Model: {{model}}" itemprop="name">{{name__("locale")}}</span></a>
							<span class="hidden" itemprop="model">{{model}}</span>
							<span class="label {{label}}" title="Priority: {{service_priority}} / Type:{{servicetype_priority}}">{{type}}</span>
							{{/contact.url__("locale")}}
							{{^contact.url__("locale")}}
							<span title="Model: {{model}}" itemprop="name">{{name__("locale")}}</span>{{contact.url_fi}}
							<span class="hidden" itemprop="model">{{model}}</span>
							<span class="label {{label}}" title="Priority: {{service_priority}} / Type:{{servicetype_priority}}">{{type}}</span>
							{{/contact.url__("locale")}}
							<ul>
							{{#description_short__("locale")}}
								<li itemprop="description">{{description_short__("locale")}}
									{{#description_long__("locale")}}
										<br><cite>{{description_long__("locale")}}</cite>
									{{/description_long__("locale")}}
								</li>
								{{/description_short__("locale")}}
								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									{{#price}}
										<li itemprop="price">{{price}}</li>
									{{/price}}
									{{#for_loan}}
									<li>_("For loan")</li>
									{{/for_loan}}
									<cite>{{{instance_description__("locale")}}}</cite>
									{{#tag.0}}
									<li><ul>{{#tag}}<li>{{.}}</li>{{/tag}}</ul></li>
									{{/tag.0}}
									{{#contact.0}}
									<li itemprop="seller">_("Contact"):
										<ul>
										{{#contact}}
											<li>{{telephone}} / {{email}} / <a href="{{url}}">{{url__("locale")}}</a></li>
										{{/contact}}
										</ul>
									{{/contact.0}}
								</div>
							</ul>
							</div>
					 {{/services}}
				</dd>
				{{/services.0.name__("locale")}}

				<!-- dt>_("Library identificator and type")</dt>
				<dd>
					ISIL: {{isil}}<br>
					_("ID"): {{identificator}}<br>
					_("Branch"): {{branch_type}}<br>
					_("Organisation"): {{organisation_type}}
				</dd -->

				{{#has_services}}
				<dt>_("Centralized services")</dt>
					<dd>
					{{#services}}
						<a href="{{link}}" itemprop="member">{{name}} &rarr;</a><br>
					{{/services}}
					</dd>
				{{/has_services}}
			</dl>
		</div>

		<!-- personnel tab -->
		<div class="tab-pane" id="lib_personnel">
			{{#has_personnel}}
			<dt>_("Personnel")</dt>
			<dd>
				<table>
				{{#personnel}}
					<tr>
						<td>
						{{_source.first_name}} {{_source.last_name}}
							{{#_source.job_title__("locale")}}
								/ {{_source.job_title__("locale")}}
							{{/_source.job_title__("locale")}}
							{{^_source.job_title__("locale")}}
								/ {{_source.job_title_fi}}
							{{/_source.job_title__("locale")}}
						</td>
						{{#_source.contact.telephone}}
						<td>
							&nbsp;
							<img src="/img/glyphicons_139_phone.png" alt='_("Phone icon")'>
							<a href="tel:{{_source.contact.telephone}}" itemprop="telephone">{{_source.contact.telephone}}</a>
						</td>
						{{/_source.contact.telephone}}
						{{#_source.contact.email}}
						<td>
							&nbsp;<i class="icon-envelope"></i> <a href="mailto:{{{_source.contact.email}}}" itemprop="email">{{{_source.contact.email}}}</a>
						</td>
						{{/_source.contact.email}}
					</tr>
				{{/personnel}}
				</table>
			</dd>
			{{/has_personnel}}
		</div>

		<!-- departments tab -->
		<div class="tab-pane" id="lib_departments">
			{{#has_children}}
			<dt>_("Departments")</dt>
				<dd>
				{{#children}}
					<a href="{{link}}" itemprop="member">{{name}} &rarr;</a><br>
				{{/children}}
				</dd>
			{{/has_children}}
		</div>

		<!-- accessibility tab -->
		<div class="tab-pane" id="lib_accessibility">
			{{#accessibility_available}}
			<tr><td colspan=2>
				<dt>_("Accessibility")</dt>
				<dd>
				{{#accessibility.accessible_entry}}
					_("Accessible entry")<br>
				{{/accessibility.accessible_entry}}

				{{#accessibility.accessible_parking}}
					_("Accessible parking")<br>
				{{/accessibility.accessible_parking}}

				{{#accessibility.accessible_toilet}}
					_("Accessible toilet")<br>
				{{/accessibility.accessible_toilet}}

				{{#accessibility.induction_loop}}
					 _("Induction loop")<br>
				{{/accessibility.induction_loop}}

				{{#accessibility.large_typeface_collection}}
					_("Large typeface collection")<br>
				{{/accessibility.large_typeface_collection}}

				{{#accessibility.lift}}
					_("Lift")<br>
				{{/accessibility.lift}}

				{{#accessibility.extraaccessibilityinfo}}
					{{extra_accessibility_property_label__("locale")}}:
					{{extra_accessibility_property_value__("locale")}}<br>
				{{/accessibility.extraaccessibilityinfo}}

			</dd>
			</td>
			</tr>
			<td><th colspan="2">&nbsp;</td></tr>
			{{/accessibility_available}}
		</div>

		<!-- extrainfo tab -->
		<div class="tab-pane" id="lib_extrainfo">
			{{#established_year}}
				<dt>_("Established year")</dt>
				<dd>{{established_year}}</dd>
			{{/established_year}}

			{{#additional_info}}
				<dt>_("Additional info")</dt>
				<ul>
				{{#extrainfo}}
					<li>
						{{property_label__("locale")}}<br>
						<cite>{{property_value__("locale")}}</cite>
					</li>
					<br>
				{{/extrainfo}}
				</ul>
			{{/additional_info}}
		</div>
	</div>


  </div>

  <div class="span6">
    <div class="opentimes">
        {{#neveropen}}
        {{/neveropen}}

        {{^neveropen}}
			{{#opening_hours.has_opening_hours}}
            <h3>_("The library is now")
		    {{#opening_hours.open_now}}
	            <strong class="open">_("Open")</strong>
		    {{/opening_hours.open_now}}

		    {{^opening_hours.open_now}}
	            <strong class="closed">_("Closed")</strong>
	        {{/opening_hours.open_now}}
		    </h3>
		    <br>
	        <h3>_("Opening hours this week")</h3>
	        <time itemprop="openingHours">
	        <table>
			    {{#opening_hours.open_hours_week}}
					{{#today}}
						<tr class="opentimes_strong"><td>{{day}}<td>&nbsp;<td>{{time}}<span class="hidden">, </span></tr>
					{{/today}}
					{{^today}}
					    <tr><td>{{day}}<td>&nbsp;<td>{{time}}<span class="hidden">, </span></tr>
					{{/today}}
			    {{/opening_hours.open_hours_week}}
	        </table>
	        </time>
            <br>
			<p>{{opening_hours.period_description}}
			{{#consortium}}
            <p>_("To borrow from this library you need a <a href='{{parent_organisation}}' itemprop='branchOf'>{{consortium}}</a> card.")</p>
			{{/consortium}}
			{{/opening_hours.has_opening_hours}}
			{{^opening_hours.has_opening_hours}}
			{{/opening_hours.has_opening_hours}}
        {{/neveropen}}
    </div>

	<div class="opentimes">
	{{#parent_organisation}}
		{{#consortium}}
			<dt>_("Library consortium")</dt>
			<dd><a href="{{parent_organisation}}" itemprop="branchOf">{{consortium}} &rarr;</a></dd>
		{{/consortium}}
	{{/parent_organisation}}
	</div>

    <div class="contactdetails">
        <dt>_("Homepage")</dt>
        <dd>
		{{#contact.homepage__("locale")}}
            <i class="icon-home"></i> <a href="{{contact.homepage__("locale")}}">
			{{contact.homepage__("locale")}}</a><br>
	    {{/contact.homepage__("locale")}}
        {{#contact.internet}}
            <a href="{{url__("locale")}}"
                title="{{url_description__("locale")}}" class="iconless-link">
			{{name__("locale")}}</a><br>
        {{/contact.internet}}
		</dd>

		{{#contact.telephones.0.telephone_number}}
	    <dt>_("Telephone numbers")</dt>
	    <dd>
	        {{#contact.telephones}}
                <img src="/img/glyphicons_139_phone.png" alt='_("Phone icon")'>
				<a href="tel:{{telephone_number}}" itemprop="telephone">{{telephone_number}}</a> /
				{{#telephone_name__("locale")}}
					{{telephone_name__("locale")}}
				{{/telephone_name__("locale")}}
				{{^telephone_name__("locale")}}
					{{telephone_name_fi}}
				{{/telephone_name__("locale")}}
				<br>
            {{/contact.telephones}}
	    </dd>
	    {{/contact.telephones.0.telephone_number}}

		{{#contact.mail_address.post_box}}
	    <dt>_("Mail address")</dt>
	    <dd>
	        _("P.O. Box")
	        {{contact.mail_address.post_box}}<br>
	        {{contact.mail_address.post_code}} {{contact.mail_address.post_office__("locale")}}
	    </dd>
	    {{/contact.mail_address.post_box}}

		{{^contact.mail_address.post_box}}
	    <dt>_("Mail address")</dt>
	    <dd>
			{{#contact.mail_address.post_address__("locale")}}
	        {{contact.mail_address.post_address__("locale")}}<br>
			{{/contact.mail_address.post_address__("locale")}}

			{{^contact.mail_address.post_address__("locale")}}
	        {{contact.mail_address.post_address_fi}}<br>
			{{/contact.mail_address.post_address__("locale")}}

	        {{contact.mail_address.post_code}} {{contact.mail_address.post_office__("locale")}}
	    </dd>
	    {{/contact.mail_address.post_box}}

		{{#contact.email}}
	    <dt>_("E-mail")</dt>
	    <dd><i class="icon-envelope"></i> <a href="mailto:{{contact.email}}" itemprop="email">{{contact.email}}</a></dd>
	    {{/contact.email}}
    </div>

    <div class="buildinginfo">
        {{#image_url}}
        <img src="{{image_url}}" alt="{{name__("locale")}}" itemprop="image photo">
        {{/image_url}}
        <table>
        {{#contact.building__("locale")}}
            <tr><th>_("Building"):</th>
				<td>{{contact.building__("locale")}}</td></tr>
        {{/contact.building__("locale")}}
        {{#contact.building_year}}
            <tr><th>_("Built"):</th><td>{{contact.building_year}}</td></tr>
        {{/contact.building_year}}
        {{#contact.building_architect}}
            <tr><th>_("Architect"):</th><td>{{contact.building_architect}}</td></tr>
        {{/contact.building_architect}}
        <td><th colspan="2">&nbsp;</td></tr>

        {{#contact.parking__("locale")}}
            <tr><th>_("Parking"):</th>
				<td>{{contact.parking__("locale")}}</td></tr>
        {{/contact.parking__("locale")}}
        </table>
    </div>
	<p><small><a href="{{slug}}" itemprop="url">hakemisto.kirjastot.fi/{{slug}}</a> _("last modified"): {{meta.modified}}</small></p>

  </div>

</div>


{{/data}}

{{{footer}}}
